<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1"
 role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">{{error.title}}</h3>
      </div>
      <div class="modal-body">
        {{error.msg}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="error.resolve()">OK</button>
      </div>
    </div>
  </div>
</div>