<div class="dbeditor">
  <div class=" logo-line container-fluid ">
    <a [innerHTML]="logo " [href]=" '/admin' " target="_self"></a>
  </div>

  <app-tablemenu [selectedMenuItem]="selectedMenuItem"
   [flattenedMenuItems]="flattenedMenuItems"
   (onSelectMenuItem)="handleMenuItemSelect($event)"
   *ngIf="showMenu"></app-tablemenu>

  <app-editor [selectedManagedTable]="selectedManagedTable"
  [menuItem]="selectedMenuItem"
  (onFlagWithChanged)="handleFlagWithChanged($event)"
  (onRefreshChangedFlags)="handleRefreshChangedFlags($event)"
  *ngIf="showEditor"></app-editor>

  <app-servererror></app-servererror>
  
  <app-loader *ngIf="loading"></app-loader>
</div>